body {
  background-color: #0b0f52;
}
h1 {
  color: #2571cf;
}
ul {
  color: #c72a28;
}


.center{
	margin-left: auto;
	margin-right: auto;
	border: 5px;
	
}
.imgdioses{
display: block;
width: 600px;
height: 500px;
margin-left: auto;
margin-right: auto;
}

.imgtabla{
width: 60px;
height: 50px;

}

figcaption{text-align: center; color: white;}
