body {
  background-color: #0b0f52;
}

.header { 
  background-color: #ffffff;
  color: #0b0f52;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-size: 30px;
}

.container { width: 80%; margin: auto; overflow: hidden; }

.card {
  background: #0D15A6;
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
}

.cardimg { 
  width:150px;
  height:150px;
}
